<!-- <p>
  create-job-post works!
</p> -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- redirects to home -->
    <ion-item
      routerLink="/home"
      router-direction="root"
      color="primary"
      detail="false"
      slot="end"
      class="job-back__btn"
    >
      <ion-icon
        name="chevron-back-outline"
        slot="start"
        class="icon"
      ></ion-icon>
      <ion-label>Back</ion-label>
    </ion-item>
    <ion-title>New Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen="true">
  <ion-list class="post-container">
    <p class="warning">! A job post once created cannot be edited or deleted</p>
    <ion-item lines="none" fill="outline" class="job-input">
      <ion-label position="floating">Job Title</ion-label>
      <!-- TODO Add required size of letters -->
      <ion-input #jobTitle spellcheck="true" [clearInput]="true" autofocus="true"  color="dark"></ion-input>
    </ion-item>
    <ion-item lines="none"  class="job-input--description" fill="outline">
      <ion-label position="floating">Job Description</ion-label>
      <!-- TODO Add required size of letters -->
      <ion-textarea #jobDescription spellcheck="true" required="true" rows="7" [autoGrow]="true"  color="dark"></ion-textarea>
    </ion-item>
    <p>You will receive applicants info at this email address</p>
    <ion-item class="job-input" fill="outline" lines="none">
      <ion-label position="floating" >Email</ion-label>
      <ion-input #jobEmail   type="email"  placeholder="email@domain.com" color="dark" ngModel email></ion-input>
      <ion-note slot="error">Invalid email</ion-note>
    </ion-item>
    <ion-item (click)="createJobPost(jobTitle.value,jobDescription.value,jobEmail.value)" button detail="true"  color="primary" lines="none" class="job-btn">
      <ion-label>Post</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
