@import "../../../styles/variables";
@import "../../../styles/mixins";
.profile-back__btn {
  .icon {
    @include back-icon;
  }
}

.profile-container {
  background-color: transparent;
  ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;

    --color: #ddd;
    --color-checked: #6815ec;
  }
  .radio-input {
    background-color: transparent;
  }
  .add-cv{
    margin-block: 2rem;
  }
  .edit-profile__btn{
    border-radius: $mainRadius;
    margin-top: 1rem;
  }
}
