@import "../../../styles/variables";
@import "../../../styles/mixins";
.change-password__back-btn{
    .icon{
        @include back-icon;
    }
}
.reset-container{
    background-color: transparent;
    .reset-inputs{
        margin-block: 1rem;
    }
    .reset-btn{
        border-radius: $mainRadius;
    }
}