<ion-header>
  <ion-toolbar color="primary">
    <ion-item
    routerLink="/new-user"
    router-direction="root"
    color="primary"
    detail="false"
    slot="end"
    class="change-password__back-btn"
  >
    <ion-icon
      name="chevron-back-outline"
      slot="start"
      class="icon"
    ></ion-icon>
    <ion-label>Back</ion-label>
  </ion-item>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">
  <ion-list class="reset-container">
    <ion-item fill="outline" class="reset-inputs">
      <ion-label position="floating">Your email</ion-label>
      <ion-input placeholder="email@domain.com" type="email" ngModel email></ion-input>
      <ion-note slot="error">Invalid email</ion-note>
    </ion-item>
    <ion-item fill="outline" class="reset-inputs">
      <ion-label position="floating">Phone number</ion-label>
      <ion-input placeholder="+254..." type="tel" ngModel tel minlength="10"></ion-input>
      <ion-note slot="error">Invalid number</ion-note>
    </ion-item>
    <ion-item fill="outline" class="reset-inputs">
      <ion-label position="floating">New Password</ion-label>
      <ion-input  type="password" ngModel password minlength="8"></ion-input>
      <ion-note slot="error">Invalid password</ion-note>
    </ion-item>
    <ion-item fill="outline" class="reset-inputs">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input  type="password" ngModel password minlength="8"></ion-input>
      <ion-note slot="error">Invalid password</ion-note>
    </ion-item>
    <ion-item button detail="true" color="primary" class="reset-btn">
      <ion-label>Reset Password</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
