@import "../../../styles/variables";
@import "../../../styles/mixins";
.login-back__btn {
  .icon {
    @include back-icon;
  }
}

.login-details {
  background-color: transparent;
  .login-btn {
    border-radius: $mainRadius;
    margin-bottom: 1rem;
  }
  .login-input {
    // @include input-styles;
    margin-block: 1rem;
  }
}
.login-controls {
    background-color: transparent;
  .login-link {
    // background-color: transparent;
    // border-bottom: solid;
    // color: $primaryColor;
    // width: 3px;
    text-decoration: underline;
    text-decoration-color: $primaryColor;
    text-decoration-thickness: 3px;
  }

}
