<!-- menu contents -->
<ion-menu contentId="main-content" color="dark">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-icon class="toolbar-icon" name="close"></ion-icon>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>{{getTime()}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="toolbar-content" fullscreen="true">
    <ion-item href="https://peteslist-f0e47.web.app/" lines="none">
      <ion-icon name="globe" slot="start" color="primary"></ion-icon>
      <ion-label>Website</ion-label>
    </ion-item>
    <!-- TODO ADD COMPANY TELEPHONE -->
    <ion-item lines="none" href="tel:0796371360">
      <ion-icon name="call" slot="start" color="primary"></ion-icon>
      <ion-label>Call Us</ion-label>
    </ion-item>
    <ion-item lines="none" href="mailto:peteslisthelp@gmail.com">
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label>E-mail Us</ion-label>
    </ion-item>
    <!--TODO add edit profile router -->
    <!-- <ion-item
      routerLink="/edit-profile"
      router-direction="forward"
      detail="true"
      color="primary"
      lines="none"
      class="toolbar-btns"
    >
      <ion-label>Edit Profile</ion-label>
    </ion-item> -->
    <!--TODO:add  share plugin -->
    <ion-item
      button
      detail="true"
      color="primary"
      lines="none"
      class="toolbar-btns"
      (click)="share()"
    >
      <ion-label>Share App </ion-label>
    </ion-item>
    <!--TODO:add logout code logout -->
    <ion-item
      button
      detail="true"
      color="primary"
      lines="none"
      class="toolbar-btns"
      (click)="logout()"
    >
      <ion-label>Log Out</ion-label>
    </ion-item>
    <!-- delete account -->
    <ion-item
      routerLink="/delete-user"
      router-direction="forward"
      detail="true"
      color="danger"
      lines="none"
      class="toolbar-btns"
    >
      <ion-label>Delete Account</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<!-- home component -->
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border jobs-header">
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Jobs</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- search bar -->
  <ion-header class="ion-no-border search-bar__header"
    ><ion-toolbar color="light">
      <ion-searchbar
        color="light"
        animated="true"
        placeholder="Search jobs"
        class="jobs-search__bar"
      ></ion-searchbar> </ion-toolbar
  ></ion-header>
  <ion-content [fullscreen]="true">
    <!-- job cards -->

    <ion-card color="light" *ngFor="let job of jobs">
      <ion-card-header>
        <ion-card-title>{{job.title}}</ion-card-title>
        <!-- TODO: Add posted date -->
        <ion-card-subtitle>Date posted: {{job.time}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> {{job.description}} </ion-card-content>
      <ion-item
        href="mailto:{{job.email}}"
        detail="true"
        color="primary"
        lines="none"
      >
        <ion-label>Apply</ion-label>
      </ion-item>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <!-- TODO: Add posted date -->
        <ion-card-subtitle>Date posted: 19/10/2022</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>

      <ion-item button detail="true" color="primary" lines="none">
        <ion-label>Apply</ion-label>
      </ion-item>
    </ion-card>
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <!-- TODO: Add posted date -->
        <ion-card-subtitle>Date posted: 19/10/2022</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more,
        nothing less.
      </ion-card-content>

      <ion-item button detail="true" color="primary" lines="none">
        <ion-label>Apply</ion-label>
      </ion-item>
    </ion-card>
    <!-- floating action button -->
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button routerLink="/create-post" router-direction="forward">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
